[submodule "alignment-handbook"]
	path = alignment-handbook
	url = git@github.com:bahaelaila7/alignment-handbook.git
[submodule "trl_mine"]
	path = trl
	url = git@github.com:bahaelaila7/trl
[submodule "spin"]
	path = spin
	url = git@github.com:bahaelaila7/SPIN.git
